@page
@model BD2.Pages.Relatorio.IndexModel
@{
}

<br>
<h2>Relatório</h2>
<br>
<hr></hr>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>QuantidadeVendida</th>
            <th>TotalDasVendas</th>
            <th>MaiorComprador</th>
            <th>PaísComMaisCompras</th>
            <th>CidadeComMaisCompras</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Relatorio in Model.Relatorios)
        {
            <tr>
                <td>@Relatorio.Categoria</td>
                <td>@Relatorio.QuantidadeVendida</td>
                <td>@Relatorio.TotalDasVendas</td>
                <td>@Relatorio.MaiorComprador</td>
                <td>@Relatorio.PaísComMaisCompras</td>
                <td>@Relatorio.CidadeComMaisCompras</td>
            </tr>
        }
    </tbody>
</table>
