@page
@model BD2.Pages.Compras.IndexModel
@{
}

<br>
<h2>Lista de Compras   ------>   <a class="btn btn-outline-primary" href="/Compras/Insert">Nova Compra</a></h2>
<br></br>
<hr></hr>
<br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CustomerID</th>
            <th>EmployeeID</th>
            <th>ProductID</th>
            <th>Quantity</th>
            <th>UnitPrice</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.ListOfOrders)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.CustomerID</td>
                <td>@order.EmployeeID</td>
                <td>@order.ProductID</td>
                <td>@order.Quantity</td>
                <td>@order.UnitPrice</td>
                <td>@order.Discount</td>
            </tr>
        }
    </tbody>
</table>
