@page
@model BD2.Pages.Clientes.IndexModel
@{
}

<br>
<h2>Lista de clientes</h2>
<a class="btn" href="/Clients/Create">New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>
            <th>Adress</th>
            <th>City</th>
            <th>Region</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Fax</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var client in Model.listOfClientes)
        {
            <tr>
                <td>@client.id</td>
                <td>@client.CompanyName</td>
                <td>@client.ContactName</td>
                <td>@client.ContactTitle</td>
                <td>@client.Address</td>
                <td>@client.City</td>
                <td>@client.Region</td>
                <td>@client.PostalCode</td>
                <td>@client.Country</td>
                <td>@client.Phone</td>
                <td>@client.Fax</td>
                <td>
                    <a class="btn" href="/Clients/Edit?id=">Edit></a>
                    <a class="btn" href="/Clients/Delete?id=">Delete</a>
                </td>
            </tr>    
        
        }
    </tbody>
</table>
