@page
@model BD2.Pages.Clientes.IndexModel
@{
}

<br>
<h2>Lista de clientes</h2>
<a class="btn btn-primary" href="/Clientes/Create">Novo Cliente</a>
<br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>
            <th>Adress</th>
            <th>City</th>
            <th>Region</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clientInfo in Model.listOfClientes)
        {
            <tr>
                <td>@clientInfo.id</td>
                <td>@clientInfo.CompanyName</td>
                <td>@clientInfo.ContactName</td>
                <td>@clientInfo.ContactTitle</td>
                <td>@clientInfo.Address</td>
                <td>@clientInfo.City</td>
                <td>@clientInfo.Region</td>
                <td>@clientInfo.PostalCode</td>
                <td>@clientInfo.Country</td>
                <td>@clientInfo.Phone</td>
                <td>@clientInfo.Fax</td>
                <td>
                    <a class="btn btn-primary" href="/Clientes/Edit?id=@clientInfo.id">Edit</a>              
                </td>
                <td>
                    <a class="btn btn-danger" href="/Clientes/Delete?id=@clientInfo.id">Delete</a>
                </td>
            </tr>    
        
        }
    </tbody>
</table>
